@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Welcome to the American Beef Market</h1>
    <button class="btn btn-lg btn-outline-primary"><i class="fa-solid fa-hat-cowboy"></i> I want to sell</button>
    <button class="btn btn-lg btn-primary"><i class="fa-solid fa-cow"></i> I want to buy</button>
</div>
